{% extends "reg_base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/authorization.css" %}">
{% endblock css %}

{% block form_container %}
<div class="form-container">
<h1>Авторизация</h1>
<form action = {% url "users:login"%} method = 'post'>
  {% csrf_token%} 
  <div class="form-group">
    <label for="phone">Номер телефона</label>
    <input type="tel" id="phone" name = 'phone_number' >
    {% if form.phone_number.errors %}
      <div class="alert alert-danger alert-dismissible fade show">{{form.phone_number.errors}}</div>
    {% endif %}
  </div>
  
  <div class="form-group">
    <label for="password">Пароль</label>
    <input type="password" id="password" name = 'password'>
      {% if form.password.errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{form.password.errors}}</div>
      {% endif %}
  </div>
  {% if form.errors %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{error}}</div>
      {% endfor %}
  {% endif %}
  <div class="checkbox-group">
    <label>
      <input type="checkbox" id="remember"> Запомнить меня
    </label>
    <a href="#">Забыли пароль?</a>
  </div>
  <button type="submit" class="login-button">Войти</button>
  <input type="hidden" name="timezone" id="id_timezone"> 
</form>

  <div class="signup-link">
    <span>Нет аккаунта? </span>
    <a href="{% url "users:register" %}">Создать аккаунт</a>
  </div>
</div>
{% endblock form_container %}