{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

{% block content %}
<main class="profile-main">
<div class="profile-container">
    <div class="profile-header">
        {% if is_friend_profile %}
            {% if friend.image %}
                <img src="{{ friend.image.url }}" alt="Profile Image" class="profile-image" />
            {% else %}
                <img src="{% static 'image/profile_image/profile.webp' %}" alt="Default Profile Image" class="profile-image" />
            {% endif %}
        {% else %}
            {% if user.image %}
                <img src="{{ user.image.url }}" alt="Profile Image" class="profile-image" />
            {% else %}
                <img src="{% static 'image/profile_image/profile.webp' %}" alt="Default Profile Image" class="profile-image" />
            {% endif %}
        {% endif %}
    </div>

    <section class="profile-details">
        {% if is_friend_profile %}
            <h1 class="profile-name">{{ friend.first_name }} {{ friend.last_name }}</h1>
            {% timezone user.time_zone %}
                <p class="last-seen">Был(а) в сети: {{ friend.last_seen|date:"d.m.Y H:i" }}</p>
            {% endtimezone %}
        {% else %}
            <h1 class="profile-name">{{ user.first_name }} {{ user.last_name }}</h1>
            {% timezone user.time_zone %}
                <p class="last-seen">Был(а) в сети: {{ user.last_seen|date:"d.m.Y H:i" }}</p>
            {% endtimezone %}
        {% endif %}
    </section>
    

    {% if not is_friend_profile %}
    <form action="{% url 'publications:publication' %}" method="post" enctype="multipart/form-data" class="profile-post-form">
        {% csrf_token %}
        <textarea name="text" class="form-textarea" rows="4" placeholder="Поделитесь своими мыслями"></textarea>
        <div class="form-footer">
            <input type="file" name="media" accept="image/*,video/*" id="mediaInput" class="form-file-input" />
            <button type="submit" class="btn btn-dark publication">Опубликовать</button>
        </div>
    </form>
    {% endif %}

    <!-- Публикации -->
    <section class="my-publications" style="margin-top: 50px; text-align: left;">
        <h2>{% if my_user %}Мои публикации {% else %}Публикации пользовтеля{% endif %}</h2>
        <ul class="publication-list" style="list-style: none; padding: 0;">
        {% for publication in publications %}
        <li class="publication-item" style="margin-bottom: 20px; border-bottom: 1px solid #ddd; padding-bottom: 15px; position: relative;">
                <button data-id="{{publication.id}}" class="delete-publication" style="position: absolute; top: 5px; right: 5px; background: none; border: none; font-size: 18px; color: black; cursor: pointer;">
                    &#10006;
                </button>
            <p>{{ publication.text }}</p>

            {% if publication.media %}
                <div class="publication-media delete-publication" style="margin-top: 10px;">
                    <img src="{{ publication.media.url }}" alt="Publication media" style="max-width: 100%; height: auto; border-radius: 10px;">
                </div>
            {% endif %}

    <small style="color: #888;">{{ publication.created_at }}</small>
</li>
{% empty %}
<li>Публикаций нет</li>
{% endfor %}
        </ul>
    </section>
</div>
</main>
<script>
    const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

    document.querySelectorAll('.delete-publication').forEach(button => {
        button.addEventListener('click', function () {
            const publicationId = this.dataset.id;
            const buttonElement = this;

            fetch("{% url 'publications:publication-delete' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': csrftoken,
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ publication_id: publicationId })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'ok') {
                    // Например, скрыть удалённую публикацию
                    buttonElement.closest('.publication-item').remove();
                } else {
                    alert('Ошибка при удалении');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
        });
    });
</script>
{% endblock content %}

{% block js %}
{% endblock js %}
