{% extends "reg_base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static "css/registration.css" %}">
{% endblock css %}


{% block form_container %}
<div class="form-container">
<h1>Регистрация</h1>
<form action = {% url "users:register"%} method = 'post'>
  {% csrf_token%} 
  <div class="row">
    <div class="col-md-6 mb-3">
        <label for="InputNumber" class="form-label">Номер телефона</label>
        <input type="tel" class="form-control" id="InputNumber" name="phone_number" required 
            {% if form.errors %}value="{{ form.phone_number.value }}"{% endif %}>
        {% if form.phone_number.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.phone_number.errors }}</div>
        {% endif %}
    </div>
    <div class="col-md-6 mb-3">
        <label for="InputNickname" class="form-label">Имя пользователя</label>
        <input type="text" class="form-control" id="InputNickname" name="nickname" required>
        {% if form.nickname.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.nickname.errors }}</div>
        {% endif %}
    </div>
    </div>
  <div class="row"> 
      <div class="col-md-6 mb-3">
          <label for="exampleInputPassword1" class="form-label">Придумайте пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name = "password1" required>
        {% if form.password1.errors %}
            <div class="alert alert-danger alert-dismissible fade show">{{ form.password1.errors }}</div>
        {% endif %}
      </div>
          <div class="col-md-6 mb-3">
              <label for="exampleInputPassword2" class="form-label">Повторите пароль</label>
          <input type="password" class="form-control" id="exampleInputPassword2" required name = 'password2',>
            {% if form.password2.errors %}
                <div class="alert alert-danger alert-dismissible fade show">{{ form.password2.errors }}</div>
            {% endif %}
      </div>
  </div>
  {% if form.errors %}
      {% for error in form.non_field_errors %}
          <div class="alert alert-danger alert-dismissible fade show">{{error}}</div>
      {% endfor %}
  {% endif %}
  <div class="checkbox-group">
    <label>
      <input type="checkbox" id="remember"> Запомнить меня
    </label>
</div>
<button type="submit" class="login-button">Регистрация</button>
  <input type="hidden" name="timezone" id="id_timezone"> 
</form>
<button type="button" class="btn btn-dark mt-2" onclick="window.history.back()">Назад</button>
</div>
{% endblock form_container %}