{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/users.css'%}"> 
{% endblock css %}

{% block content %}
<div class="profiles-container container mt-4">
    <h2>Список пользователей</h2>
    {% for user in page_obj %}
        <div class="users-profiles row">
                <div class="col-md-4">
                    <div class="card mb-3">
                        {% if user.image %}
                            <img src="{{user.image.url}}" class="card-img-top" alt="{{ user.first_name }}">
                        {% else %}
                            <img src="{% static 'image/profile_image/profile.webp' %}" class="card-img-top" alt="Нет фото">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
                            <div class = 'friend_add'>
                                {% if user not in sent_friends and user not in add_friends %}
                                <form action="{% url 'friends:add-friend' %}" method="post" class="friend-add-form">
                                        {% csrf_token %}
                                        <input type="hidden" name="receiver" value="{{ user.id }}">
                                        <button type="submit" class="friend-add-button">
                                            <img class="image_friend_add" src="{% static 'image/friend_add.png' %}" alt="Добавить в друзья">
                                            <span class="friend-add-text">Добавить в друзья</span>
                                        </button>
                                </form>
                                {% else %}
                                    <span class="friend-add-text">
                                        {% if user in sent_friends %}
                                            Заявка отправлена
                                        {% elif user in add_friends %}
                                            У вас в друзьях
                                        {% endif %}
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p>Других пользователей пока нет.</p>
        </div>
    {% endfor %}
    {% if is_paginated == True %}
    <ul class="pagination">
      {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="{% url 'users:search_friends' %}?page={{page_obj.privious_page_number}}">Предыдущая</a>
        </li>
      {% endif %}  
      {% for page_number in paginator.page_range %}
        {% if page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2%}
            <li class="page-item {% if page_number == page_obj.number %}active{% endif %}"><a class="page-link" href="{% url 'users:search_friends' %}?page={{ page_number }}">{{ page_number }}</a></li>
        {% endif %}
      {% endfor %}
      <li class="page-item">
        <a class="page-link" href="{% url 'users:search_friends' %}?page={{page_obj.next_page_number}}">Следующая</a>
      </li>
    </ul>
    {% endif %}
</div>
{% endblock content %}


{% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-rZt5IRx0lD8tZmOQUQ+GCjU5rAa2hE6ljVx3EmDkw9mXBxFMkFd23SORgX6ZshK4" crossorigin="anonymous"></script>
{% endblock js %}