# Игнорировать виртуальные окружения
venv/

# Игнорировать настройки Pylint
.pylintrc

# Игнорировать скомпилированные байт-коды Python
__pycache__/

# Игнорировать кеши
cache/

# Игнорировать конфигурации IDE
.vscode/
.idea/

# Игнорировать файлы базы данных SQLite
db.sqlite3

# Игнорировать медиафайлы
media/