services:
  db:
    image: postgres:15
    container_name: data_base
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # adminer:
  #    image: adminer
  #    ports:
  #     - 8080:8080

  web:
    container_name: web_site
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media

  nginx:
    container_name: nginx-server
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/staticfiles:ro
      - media_volume:/media
    depends_on:
      - web

  redis:
    container_name: redis-server
    image: redis:latest
    ports:
      - "6380:6379"

volumes:
  postgres_data:
  static_volume:
  media_volume: