.profile_setup_image{
    width: 40px;
    height: auto;
}

button {
    border: none;
    background: none;
    padding: 0;
  }


.form-select {
    width: 150px; /* Уменьши по необходимости */
}

header {
  font-size: 16px !important;      /* Жёстко задаём размер */
  line-height: 1.2 !important;     /* Фиксируем высоту строки */
  font-weight: normal !important;  /* Фиксируем вес шрифта */
  color: #000 !important;           /* Жёстко цвет, если нужно */
  transition: none !important;      /* Отключаем переходы */
  user-select: none !important;     /* Если нужно, запрет выбора */
}

#settingsDropdown {
  outline: none !important;
  box-shadow: none !important;
}

