img {
    width: 9.375rem; 
    height: 9.375rem;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: black;
}

#friendsTabs .nav-link:not(.active) {
    color: black !important;
}

#friendsTabs .nav-link.active {
    color: #000000;
}
