
img {
    width: 150px;     
    height: 150px;
    object-fit: contain;
}

a {
    text-decoration: none;
    color: black;
}

#friendsTabs .nav-link:not(.active) {
  color: black !important;
}

/* Активная вкладка — стандартный цвет (или можно задать свой) */
#friendsTabs .nav-link.active {
  color: #000000; /* Bootstrap синий по умолчанию */
}