.chat-panel {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid #ddd;
  background: #fff;
  width: 75rem; 
}

.chat-header {
  background-color: #f5f5f5;
  padding: 1rem; 
  font-weight: bold;
  font-size: 1.125rem; 
  border-bottom: 1px solid #ddd;
}

.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem; 
}

.message-item {
  display: flex;
  max-width: 70%;
}

.message-item.sent {
  justify-content: flex-end;
  align-self: flex-end;
}

.message-item.received {
  justify-content: flex-start;
  align-self: flex-start;
}

.message-content {
  background-color: #ececec;
  padding: 0.625rem 0.875rem; 
  border-radius: 0.875rem; 
  box-shadow: 0 0.0625rem 0.1875rem rgba(0,0,0,0.1); 
  position: relative;
  word-break: break-word;
}

.message-item.received .message-content {
  background-color: #f0f0f0;
}

.timestamp {
  display: block;
  margin-top: 0.25rem; 
  font-size: 0.75rem; 
  color: #666;
  text-align: right;
}

.chat-form {
  display: flex;
  border-top: 1px solid #ddd;
  padding: 0.625rem; 
  gap: 0.5rem; 
}

.chat-form textarea {
  flex: 1;
  resize: none;
  padding: 0.625rem; 
  border: 1px solid #ccc;
  border-radius: 0.5rem; 
}

.chat-form button {
  padding: 0 1rem; 
  background-color: #4c4d50;
  color: white;
  border: none;
  border-radius: 0.5rem; 
  font-size: 1.125rem; 
  cursor: pointer;
}

.chat-form button:hover {
  background-color: #000000;
}

a {
  color: #000;
  text-decoration: none;
}

.file_add {
  width: 2.5rem; 
  height: 2.5rem;
}

.message-media {
  max-width: 100%;
  border-radius: 0.625rem; 
  margin-top: 0.625rem; 
  box-shadow: 0 0.0625rem 0.25rem rgba(0,0,0,0.15); 
  object-fit: cover;
}

.file_add:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
