{% load tz %}
{% load static %}
<div class="publication-modal-content">

    <!-- Пост -->
    <div class="publication-item mb-3 border-bottom pb-3">
        <div class="publication-header mb-2">
            <strong>Тема: {{ publication.topic }}</strong>
        </div>
        <p>{{ publication.text }}</p>
        {% if publication.media %}
        <div class="publication-media mt-2">
            <img src="{{ publication.media.url }}" class="img-fluid rounded" alt="Publication media">
        </div>
        {% endif %}

        <div class="publication-actions mt-2 d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <button data-id="{{ publication.id }}" class="like-publication">
                    {% if user in publication.liked_by.all %}
                        <img class="like_img" src="{% static 'image/active-like.png' %}" alt="Like">
                    {% else %}
                        <img class="dislike_img" src="{% static 'image/like.png' %}" alt="Like">
                    {% endif %}
                    <span class="action-chip">{{ publication.liked_by.count }}</span>
                </button>

                <span class="action-chip ms-2">
                    <img src="{% static 'image/comments.png' %}" alt="Comments">
                    {{ comments.count }}
                </span>
            </div>

            <span class="publication-time">{{ publication.created_at|timesince }} назад</span>
        </div>
    </div>

    <!-- Список комментариев -->
    <div id="modal-comments" class="comments-list mb-3">
        {% for comment in comments %}
            <div class="comment border-bottom py-2">
                <strong>{{ comment.user.nickname }}</strong>
                <p>{{ comment.text }}</p>
                {%timezone user.time_zone %}
                    <small class="text-muted">{{ comment.created_at|date:"d.m.Y H:i" }}</small>
                {%endtimezone%}
            </div>
        {% empty %}
            <p class = 'no_comment'>Комментариев пока нет.</p>
        {% endfor %}
    </div>

    <!-- Форма добавления комментария -->
    <form id="comment-form" class="d-flex" method="POST" data-publication-id="{{ publication.id }}" data-sender = "{{user.nickname}}" data-user-id = "{{user.id}}">
    {% csrf_token %}
        <input type="text" name="text" class="form-control me-2" placeholder="Напишите комментарий...">
        <button type="submit" class="btn btn-dark">Отправить</button>
    </form>
  
</div>
