{% load static %}
{% load tz %}
<section class="chat-panel" aria-label="Диалог с пользователем">
  <div class="chat-header">
    {% if user != dialog_user %}
      <a href="{% url "friends:friend-profile" dialog_user.id%}">
        {{ dialog_user.first_name }} {{ dialog_user.last_name }}
      </a>
      {% if  dialog_user.image %}
        <a href="{% url "friends:friend-profile" dialog_user.id%}">
          <img src="{{dialog_user.image.url}}" alt="фото" class="message-avatar-img">
        </a>
      {% else %}
        <a href="{% url "friends:friend-profile" dialog_user.id%}">
          <img src="{% static 'image/profile_image/profile.webp' %}" alt="фото" class="message-avatar-img">
        </a>
    {% endif %}
    {% else %}
    Избранное
    {% endif %}
  </div>

  <div class="chat-messages" id="chatMessages">
    {% for personal_message in personal_messages %}
      <div class="message-item {% if personal_message.sender == user %}sent{% else %}received{% endif %}">
        <div class="message-content">
          <p>{{ personal_message.content }}</p> 
            {% if personal_message.media %}
              {% if personal_message.media.name|lower|slice:"-4:" == ".mp4" or personal_message.media.name|lower|slice:"-4:" == ".avi" %}
              <video controls class="message-media">
                <source src="{{ personal_message.media.url }}" type="video/mp4">
                Ваш браузер не поддерживает воспроизведение видео.
            </video>
          {% else %}
          <img src="{{ personal_message.media.url }}" alt="Media" class="message-media">
          {% endif %}
          {% endif %}
          {% timezone user.time_zone %}
            <span class="timestamp">{{ personal_message.timestamp|date:"d.m.Y H:i" }}</span>
          {% endtimezone %}
        </div>
      </div>
    {% empty %}
      <div class="no-messages">Нет сообщений</div>
    {% endfor %}
  </div>

  <form id="chat-message-form" class="chat-form">
    <textarea id="chat-message-input" rows="1" placeholder="Введите сообщение..."></textarea>
    <input id="upload_media" type="file" style="display: none;" accept="image/*,video/*">
    <label for="upload_media">
      <img class = "file_add" src="{% static "image/add_file.png" %}" alt="Прикрепить файл">
    </label>
    <button type="submit" class = "btn btn-dark">➤</button>
  </form>
</section>
