{% extends "base.html" %}
{% block content %}
<body class="bg-light">
  <div class="container py-4">

    <!-- Форма для добавления своей публикации -->
    <div class="card mb-4">
      <div class="card-body">
        <h3 class="card-title">Создать публикацию</h3>
        <form action="{% url "publications:publication" %}" method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          <div class="mb-3">
            <textarea name="text" class="form-control" rows="3" placeholder="О чём вы думаете?"></textarea>
          </div>
          <div class="mb-3">
            <input type="file" name="image" class="form-control mb-2" accept="image/*" id="imageInput" style="display:none;">
            <input type="file" name="video" class="form-control mb-2" accept="video/*" id="videoInput" style="display:none;">
            <select id="fileTypeSelector">
              <option value="image">Изображение</option>
              <option value="video">Видео</option>
            </select>
          </div>
          <button type="submit" class="btn btn-dark">Опубликовать</button>
        </form>
      </div>
    </div>
    {% for publication in publications %}
    <div class="card mb-3" id="publication-{{publication.id}}">
      <div class="card-body">
        <div class="fw-bold d-flex justify-content-between">
          <span>{{ publication.user.first_name }} {{ publication.user.last_name }}: {{ publication.created_at }}</span>
          {% if user == publication.user %}
            <button data-id="{{publication.id}}" class="delete-publication">&#10006;</button>
          {% endif %}
        </div>
    
        <div class="mb-2">{{ publication.text }}</div>
    
        {% if publication.image %}
        <img src="{{ publication.image.url }}" alt="Фото" class="img-fluid rounded">
        {% elif publication.video %}
        <video controls class="img-fluid rounded">
          <source src="{{ publication.video.url }}" type="video/mp4">
          Ваш браузер не поддерживает воспроизведение видео.
        </video>
        {% endif %}
      </div>
    </div>
    {% endfor %}
 
  </div>
  <script>
    const selector = document.getElementById('fileTypeSelector');
    const imageInput = document.getElementById('imageInput');
    const videoInput = document.getElementById('videoInput');
  
    // Показать поле image по умолчанию
    window.addEventListener('DOMContentLoaded', () => {
      selector.value = 'image'; // установим выбранный вариант
      imageInput.style.display = 'block';
      videoInput.style.display = 'none';
    });
  
    // Обработчик при изменении выбора
    selector.addEventListener('change', () => {
      if (selector.value === 'image') {
        imageInput.style.display = 'block';
        videoInput.style.display = 'none';
      } else if (selector.value === 'video') {
        videoInput.style.display = 'block';
        imageInput.style.display = 'none';
      } else {
        imageInput.style.display = 'none';
        videoInput.style.display = 'none';
      }
    });
      // Получаем CSRF токен
      const csrftoken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
  
      // Скрипт для удаления друга
      document.querySelectorAll('.delete-publication').forEach(button => {
          button.addEventListener('click', function() {
              const PublicationId = this.dataset.id;
  
              fetch('{% url "publications:publication-delete" %}', {
                  method: 'POST',
                  headers: {
                      'X-CSRFToken': csrftoken,
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({ publication_id: PublicationId })
              })
              .then(response => {
                  if (!response.ok) {
                      return Promise.reject('Ошибка при удалении публикации');
                  }
                  return response.json();
              })
              .then(data => {
                  document.getElementById(`publication-${PublicationId}`).classList.add('fade-out');
                  setTimeout(() => {
                      document.getElementById(`publication-${PublicationId}`).remove();
                  }, 300); // 300 мс для анимации
              })
              .catch(error => {
                  console.error(error);
              });
          });
      })
  </script>
</body>
{% endblock content %}
</html>
