{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>{{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base_html.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          {% comment %} Если пользователь находится на профиле, то будут 
          отображаться "настройки аккаунта" {% endcomment %}
          {% url "users:profile" as profile_url %}
          {% url "users:password" as profile_password %}
          {% if request.path == profile_url%}
          <div class="dropdown me-3">
          <button class="btn btn-outline-dark dropdown-toggle" type="button" id="settingsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            Настройки аккаунта
          </button>
            <ul class="dropdown-menu" aria-labelledby="settingsDropdown">
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal2">Изменить данные</a></li>
              <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Изменить пароль</a></li>
            </ul>
         </div>
          <!-- Модальное окно -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Настройка профиля</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                  <div class="row g-3">
                    <form action="{% url "users:password" %}" method = 'post'>
                      {% csrf_token %}
                      <div class="col-md-12">
                        <label for="inputOldPassword" class="form-label">Текущий пароль</label>
                        <input type="password" class="form-control" id="inputOldPassword" name = "old_password" required>
                        {% if form.old_password.errors %}
                          <div class="alert alert-danger alert-dismissible fade show">{{ form.old_password.errors }}</div>
                        {% endif %}
                      </div>
                      <div class="col-md-12">
                        <label for="inputPassword1" class="form-label">Новый пароль</label>
                        <input type="password" class="form-control" id="inputPassword1" name = "new_password1" required>
                        {% if form.new_password1.errors %}
                          <div class="alert alert-danger alert-dismissible fade show">{{ form.new_password1.errors }}</div>
                        {% endif %}
                      </div>
                      <div class="col-md-12">
                        <label for="inputPassword2" class="form-label">Повторите новый пароль</label>
                        <input type="password" class="form-control" id="inputPassword2" name = "new_password2" required>
                        {% if form.new_password2.errors %}
                          <div class="alert alert-danger alert-dismissible fade show">{{form.new_password2.errors}}</div>
                        {% endif %}
                      </div>
                      <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-dark">Сохранить новый пароль</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if form.errors %}
          <script>
            document.addEventListener("DOMContentLoaded", function () {
                let myModal = new bootstrap.Modal(document.getElementById("exampleModal")); 
                myModal.show(); // Открывает модальное окно при загрузке страницы, когда ошибки
            });
          </script>
            {% endif %}
          <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered 	modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Настройка профиля</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <form action="{% url "users:change" %}" method = 'post' enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class="modal-body">
                    <div class="row g-3">
                      <div class="col-md-6">
                        <label for="inputFirstName" class="form-label">Изменить имя</label>
                        <input type="text" class="form-control" id="inputFirstName" name = 'first_name'>
                        {% if form.first_name.errors %}
                          <div class="alert alert-danger alert-dismissible fade show">{{form.first_name.errors}}</div>
                        {% endif %}
                      </div>
                      <div class="col-md-6">
                        <label for="inputLastName" class="form-label">Изменить фамилию</label>
                        <input type="text" class="form-control" id="inputLastName" name = 'last_name'>
                        {% if form.last_name.errors %}
                          <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                        {% endif %}
                      </div>
                      <div class="col-md-3">
                        <label for="inputEmail" class="form-label">Почта</label>
                        <input type="text" class="form-control" id="inputEmail" name = 'email' >
                      {% if form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show">{{form.email.errors}}</div>
                      {% endif %}
                      </div>
                      <div class="col-md-3">
                        <label for="emailProvider" class="form-label">Почтовый сервис</label>
                        <select class="form-select" id="emailProvider" name="emailProvider">
                            <option value="@gmail.com">@gmail.com</option>
                            <option value="@yahoo.com">@yahoo.com</option>
                            <option value="@mail.ru">@mail.ru</option>
                            <option value="@yandex.ru">@yandex.ru</option>
                            <option value="@outlook.com">@outlook.com</option>
                        </select>
                    </div> 
                      <div class="col-md-6">
                        <label for="inputPhoneNumber" class="form-label">Новый номер телефона</label>
                        <input type="tel" class="form-control" id="inputPhoneNumber" name = 'phone_number'>
                        {% if form.last_name.errors %}
                          <div class="alert alert-danger alert-dismissible fade show">{{form.last_name.errors}}</div>
                        {% endif %}
                      </div>
                      <div class="col-md-6">
                        <label for="inputImage" class="form-label">Изменить изображение</label>
                        <input type="file" class="form-control" id="inputImage" name="image" accept="image/*">
                      </div>
                      <div class="col-12">
                        <button type="submit" class="btn btn-dark ">Изменить</button>
                      </div> 
                  </form>
                      <div class="btn-group-toggle" data-toggle="buttons">
                        <form action = {% url "users:change" %} method = 'post'>
                          {% csrf_token %}
                          <button class = 'btn btn-dark' name = "DeleteImage" value = "DeleteImage">Удалить фото</button>
                        </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% if form.errors %}
          <script>
            document.addEventListener("DOMContentLoaded", function () {
                let myModal = new bootstrap.Modal(document.getElementById("exampleModal2")); 
                myModal.show(); // Открывает модальное окно при загрузке страницы, когда ошибки
            });
          </script>
          {% endif %}
          {% endif %}
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.path != profile_url%}
              <li class="nav-item">
                <a class="nav-link active" href="{% url "users:profile" %}">Профиль</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url "publications:publication" %}">Публикации</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url "users:search_friends" %}">Найти друга</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url "friends:friends" %}">Мои друзья</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{% url "user_messages:dialogs" %}">Сообщения</a>
              </li>
            </ul>
            <form action="{% url "users:logout" %}" method = 'post'>
              {% csrf_token %}
              <button class="btn btn-dark" type="submit">Выйти</button>
            </form>
          </div>
        </div>
      </nav>
  </header>
  {% block content %}
  {% endblock content %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
const wsScheme = window.location.protocol === "https:" ? "wss" : "ws";

const chatSocket = new WebSocket(
    wsScheme + "://" + window.location.host + `/ws/notification/`
);

// При получении сообщения WebSocket
chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    showToast(data.message);
};

// Функция для создания и показа тоста
function showToast(message) {
    const toastContainer = document.getElementById("toastContainer");

    const toastId = `toast-${Date.now()}`;

    const toastElement = document.createElement("div");
    toastElement.className = "toast align-items-center text-white bg-dark border-0 mb-2";
    toastElement.id = toastId;
    toastElement.setAttribute("role", "alert");
    toastElement.setAttribute("aria-live", "assertive");
    toastElement.setAttribute("aria-atomic", "true");

    toastElement.innerHTML = `
        <div class="d-flex">
            <div class="toast-body">
                ${message}
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Закрыть"></button>
        </div>
    `;

    toastContainer.appendChild(toastElement);

    const toast = new bootstrap.Toast(toastElement, { delay: 5000 });
    toast.show();

    toastElement.addEventListener("hidden.bs.toast", () => {
        toastElement.remove(); // Удалить после закрытия
    });
}
</script>
{% block js %} 
{% endblock js %}
<div class="toast-container position-fixed bottom-0 end-0 p-3" id="toastContainer"></div>
</body>
</html>
